<!DOCTYPE html>
<html>
<head>
	<title>Basic HTML</title>
	<link rel="icon" href="C:\Users\3rd Year Account\Desktop\emil\bulls.jpg">
	<link rel="stylesheet" type="text/css" href="index.css">
</head>
<body>

<div class="first">
Enter first number: 
<input type="int" id="fn">
</div>

<div class="second">
Enter second number: 
<input type="int" name="sn">
</div>

<div>Sum is: <span id="answer"></span>
</div>

 <button onclick="addMe()">Add Me</button>
 <script type="text/javascript" src="js\calculator.js"></script>

</body>
</html>